<!DOCTYPE html>
<html lang="en">
    {{>head}}
    {{{css 'home'}}}
    {{{js 'processing'}}}
    {{{js 'processingCode'}}}
    <body>
		{{>header}}
		<div class="content" id="content">
			{{{content}}}
			<div class="row iconContainer">
				<div class="col_12" id="iconBanner">
					<span class="icon hulksmash">📱</span>
					<span class="bold sans">+</span>
					<span class="icon hulksmash">💻</span>
					<br>
					<p class="sans">Apps and websites by Emberi Co. <br><br>
						<a href="/portfolio/" class="button">PORTFOLIO</a>
						<a href="/contact/" class="button">CONTACT US</a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col_2">&nbsp;</div>
				<div class="col_7">
					<h1>Form is function</h1>
					<p>
						Today, anyone's sideproject can compete with a corporations' flagship product. Simple functionality no longer prescribes success.

						Differentiating your business through simple, thorough design has never been more important and we're the only company in the world that takes it seriously as we do.

						 We don't think good design is pleasant aesthetics, high conversion, or quick navigation. We know that good design permeates every level of interaction between your product and the people around it. We write understandable code. We craft intuitive interfaces. We identify needs and we develop interactions from the ground-up. The results are elegant brand identity, true customer loyalty, and efficient interaction.

					</p>
					<h1>We develop interactions</h1>
					<p>
						Every product is a conversation. Each interaction is an exchange. Emberi Co. makes every single interaction between you and your user worthwhile through formal design and inventive development. We're interaction developers, <a href="people/">a team</a> of one designer and one developer, who work closely with each other and your team not simply to solve problems, but to accomplish the goals that drive you. We are driven by what drives you: your users.
					</p>
					<p>
						We do this through our robust skillset that includes graphic design, web design, front-end and back-end web development, Android and iOS development, and more. We recognize trends, we identify needs, then we create and position products that make people happy.
					</p>
				</div>
				<div class="col_3 last">&nbsp;</div>
			</div>
			<div class="row services">
				<div class="col_2">&nbsp;</div>
				<div class="col_4 web">
					<h5>WEB</h5>
					<p>
						It's difficult to tell your story over the web.
						Our websites and web apps forego distracting aesthetics and confusing functionality. Instead, we focus on simplicity. Your users can focus on your product and you can focus on your business. 
					</p>
					<a href="portfolio/web/" class="button">
						our work on the web
					</a>
				</div>
				<div class="col_4 mobile">
					<h5>MOBILE</h5>
					<p>
						The connectivity that defines the present world was achieved through relentless engineering. The <span class="italics">connectedness</span> that will define the future will be achieved through thoughtful design. These interfaces are effortless, natural, invisible.
					</p>
					<a href="portfolio/mobile/" class="button">
						our work in your hand
					</a>
				</div>
				<div class="col_2 last">&nbsp;</div>
				<div class="col_2">&nbsp;</div>
				<div class="col_8 note">
					<p>These are our two favorite environments to work in, but design doesn't have a medium. We'll work with you on almost anything interesting. <a href="/contact/" class="button">Just ask</a> </p>
				</div>
				<div class="col_2 last">&nbsp;</div>
			</div>
			<canvas class="row" id="processing">
				
			</canvas>
			<div class="row interaction">
				<div class="col_3">&nbsp;</div>
				<div class="col_6">
					<h5>THE EMBERI CO. EXPERIENCE</h5>
					<p>
						We like making web applications, we like making mobile applications. We also like making desktop apps, email campaigns, branding/identity, and lots of other stuff. But more than anything, we like crafting meaningful interactions. Creating a strong user experience across, between, and outside of your applications is key to <a href="philosophy/">our mission</a>, and it's key to your success.
					</p>
					<p>
						The true Emberi Co. experience spans your project from branding to marketing, from user research to product design, from development to management. We're not designers. We're not developers. Our skillset and our passion extends into, and far beyond, both of those. We're interaction developers.
					</p>
				</div>
				<div class="col_2 last">&nbsp;</div>
				<div class="col_12 textcenter">
					<a href="process/" class="button">
						discover interaction development
					</a>
				</div>
			</div>
		{{>footer}}
		</div>
    </body>
</html>