<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
		<div class="row" id="banner">
			<div class="col_2">&nbsp;</div>
			<div class="col_8 pageTitling invert">
				<span class="supertitle small">WE ARE EMBERI CO.</span>
				<h1 class="huge">Human centered product design & development</h1>
			</div>
			<div class="col_2 last">&nbsp;</div>
		</div>
		<header class="row">
			<div class="logo col_3">&nbsp;</div>
			<nav class="col_9 last">
				<ul class="horizontal">
					<li><a href="home" class="active">HOME</a></li>
					<li><a href="philosophy">PHILOSOPHY</a></li>
					<li><a href="process">PROCESS</a></li>
					<li><a href="people">PEOPLE</a></li>
					<li><a href="portfolio">PORTFOLIO</a></li>
					<li><a href="contact">CONTACT</a></li>
				</ul>
			</nav>
		</header>
		<div class="content">
			<div class="row">
				<div class="col_2">&nbsp;</div>
				<div class="col_7">
					<h1>We develop interactions</h1>
					<p>
						Every product is a conversation. Each interaction is an exchange. Emberi Co. makes every exchange between you and your user worthwhile through strong design and efficient implementation. We're a two-person design and development team that works closely with your team not simply to solve problems, but to accomplish your goals.
					</p>
				</div>
				<div class="col_3 last">&nbsp;</div>
			</div>
		</div>
    </body>
</html>