<!DOCTYPE html>
<html lang="en">
    {{>head}}
    {{{css 'philosophy'}}}
    <body>
		{{>header}}
		<div class="content">
			<div class="row">
				<div class="col_3">&nbsp;</div>
				<div class="col_6">
					<h1 class="fancyTitle">
						A modern manifesto
					</h1>
					<h5 class="fancyAbstract">
						Our answer to "why?"
					</h5>
					<h3>The importance of communication</h3>
					<p>
						A product's value is determined first and foremost by its ability to convey a message to its users. Creating the most effective way to share your message may involve the latest web technologies, trendy design patterns, or business buzzwords. But it might not. We're capable of using both cutting-edge tech and the classic patterns of formal design. We'll work with you and your users to figure out which proportions of each work best. That's why we don't just build applications, we develop interactions.
					</p>
					<h3>We're all human</h3>
					<p>
						It seems many of today's product designers rely on user-centered design, a ideology that relies on designer-made personas, continuous user research, and strict definition of "the user." We like to call ourselves human-centered. We understand the user as amorphous. One whose needs, capabilities, limitations and desires are constantly changing.
					</p>
					<p>
						 We don't think we're defined by a persona spanning 20 or even 20,000 lines - neither are your users. We focus on similarities first and work through deduction, rather than induction, to arrive at a blurry, untamed, difficult-to-define, but accurate, representation of the user.
					</p>
					<!-- <p>
						Our shared humanity defines both our incredible capabilities and our limits to be overcome. The global community is one in which cultures, ideologies, histories, and individuals collide faster than ever. In this context, the importance of communication cannot be overstated. The promise of technology lies in overcoming the limitations surrounding these interactions. The written word, the telegraph, the Internet: Each overcame a limitation to human communication through remarkable engineering.
					</p>
					<p>
						But removing barriers is not enough. Engineering is not enough. A comfortable world is one that recognizes limitations but also actively seeks to expand the capabilities of the inhabitants as a whole. We do our part through responsible, human centered design.
					</p> -->
				</div>
				<div class="col_3 last">&nbsp;</div>
			</div>
		</div>
		{{>footer}}
    </body>
</html>