<header class="row">
	<div class="logo col_3">&nbsp;</div>
	<nav>
		<ul class="horizontal">
			<li><a href="/">HOME</a></li>
			<li><a href="/philosophy/">PHILOSOPHY</a></li>
			<li><a href="/process/">PROCESS</a></li>
			<li><a href="/people/">PEOPLE</a></li>
			<li><a href="/portfolio/">PORTFOLIO</a></li>
			<li><a href="/contact/">CONTACT</a></li>
		</ul>
	</nav>
</header>
<div class="row" id="banner">
	<div class="row"  style="background: #fff url('{{bannerImage}}') center bottom no-repeat; background-size: cover; background-attachment: fixed;">
		<div class="col_2">&nbsp;</div>
		<div class="col_8 pageTitling invert">
			<span class="supertitle small">
				{{superTitle}}
			</span>
			<h1 class="huge">
				{{title}}
			</h1>
			<span class="subtitle">
				{{{subTitle}}}
			</span>
		</div>
		<div class="col_2 last">&nbsp;</div>		
	</div>
</div>
