@import 'common';

.services{
	.paragraphAlt;
	background-color: #fff;
	margin-top: -1em;
	margin-bottom: 4em;
	.note {
		margin-top: 2em;
	}
	h5 {
		letter-spacing: unit(3/16, ~'em');
		font-family: @fontSans;
		font-weight: bold;
	}
	p {
		margin-top: 1em;
		margin-bottom:1em;
		font-size: .9em;
		.textleft;
	}
	
}
.interaction {
		background-color: rgba(0,0,0,0);
		h5 {
			letter-spacing: unit(3/16, ~'em');
		font-family: @fontSans;
		font-weight: bold;
			margin-top: 4em;
			margin-bottom: 2em;
			color:white;
		}
		.col_6 {
			margin-bottom: 2em;
		}
		p {
			width: 100%;
			color:white;
			opacity: .8;
			margin:0;
			margin-bottom: 1em;
		}
		.button {
			margin-left:0;
			opacity: .9;
			color:white;
			border:unit(2/16, ~'em') solid white;
			&:hover{
				background-color: rgba(255,255,255, .1);
			}
		}
		padding-top: 4em;
		padding-bottom:3.8em;
	}

canvas {
	margin-top: 4em;
	height:34em;
	margin-bottom:-38em !important;
	pointer-events: none;
}



@media handheld, only screen and (max-width: 47.9375em) {
	.services {
		margin-top: -5em;
		.web {
			margin-bottom: 3em;
		}
	}
}