section.home{background:url(../images/cloud.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.home .row{padding-top:180px;}
